.homebuttonComp {
  background: #e2e2e2 !important;
  border-radius: 14px !important;
  color: #16121e !important;
  font-weight: 400 !important;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem 0px;
  /* width: 12rem;
  height: 2.5rem; */
}
.homebuttonCompImg {
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
}

@media screen and (max-width: 798px) {
  .homebuttonComp {
    font-size: 0.8rem;
  }
}