.insightsTextContainer {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.insightsCompOrangeline {
  width: 100px;
  height: 3px;
  background-color: #fa6400;
  margin-bottom: 1rem;
}
.insightsButton {
  width: 200px;
  margin-bottom: 1rem;
}

/* insights comp1 */
.insightsComp11 {
  margin: 4rem 0rem;
}
.insightsComp12 {
  font-family: var(--font-montserrat);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
  color: #0c172b;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.insightsComp13 {
  font-family: var(--font-notosans);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  color: #434343;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.insightsComp14 {
  font-family: var(--font-notosans);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  color: #434343;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.insightsComp15 {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

/* insights comp 2 */
.insightsComp2Container {
  background-color: #e9ebf2;
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insightsComp2whatmakeText {
  font-family: var(--font-notosans);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #0c172b;
  margin-bottom: 0.6rem;
}
/* insight comp 2 card */
.insightsComp2CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-top: 2rem;
}
.insightsComp2Card {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
}
.insightsComp2CardTitle {
  font-family: var(--font-notosans);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  color: #0c172b;
  margin: 1rem 0px;
}
.insightsComp2CardDescription {
  font-family: var(--font-notosans);
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  color: #434343;
  margin-bottom: 0.6rem;
}

/* insights comp 3 */
.insightsComp3Container {
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insightsComp3Text1 {
  font-family: var(--font-notosans);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #0c172b;
  margin-bottom: 0.6rem;
}

.insightsComp3Text2 {
  font-family: var(--font-notosans);
  font-size: 1.1rem;
  font-weight: 300;
  color: #434343;
  text-align: center;
  margin: 1rem 0px;
}

.insightsComp3CardContainer {
  margin: 2rem 0px;
}

.insightsComp3Card {
  background: linear-gradient(
    180deg,
    rgba(226, 226, 226, 0.6) 0%,
    rgba(226, 226, 226, 0.1) 100%
  );
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.insightsComp3CardTitle {
  font-family: var(--font-notosans);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  color: #0c172b;
}

/* insights comp 4 */
.insightsComp4Container {
  background-color: #0c172b;
  padding: 4rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insightsComp4Text {
  font-family: var(--font-notosans);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 0.6rem;
}
.insightsComp4CardContainer {
  margin: 3rem 0rem;
  overflow: hidden;
}
.insightsComp4Img {
  transition: all 0.25s ease-in-out;
}
.insightsComp4Img:hover {
  transform: scale(1.015);
  cursor: pointer;
  filter: brightness(0.5);
}

/* insights comp 5 */
.insightsComp5Container {
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insightsComp5Text1 {
  font-family: var(--font-montserrat);
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  color: #0c172b;
  margin-bottom: 0.6rem;
}

.insightsComp5Text2 {
  font-family: var(--font-notosans);
  font-size: 1.1rem;
  font-weight: 400;
  color: #434343;
  text-align: center;
  letter-spacing: 0.2em;
  margin: 1rem 0px;
}

.insightsComp5CardContainer {
  margin: 2rem 0px;
}
.insightsComp5Card {
  background: #e2e2e2;
  padding: 1rem;
  margin: 0px 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  height: 50px;
  transition: all ease-in-out 0.5s;
}
.insightsComp5Card:hover {
  transform: scale(1.1);
  filter: drop-shadow(1);
  cursor: pointer;
}
.insightsComp5CardTitle {
  font-family: var(--font-notosans);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  color: #0c172b;
}
.insightsComp5Text3 {
  color: #000;
  font-family: var(--font-notosans);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0rem;
}
.insightsComp5Text4 {
  background: -webkit-linear-gradient(94.37deg, #FEC801 0%, #FA6400 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.insightsComp5Text5 {
  font-family: var(--font-notosans);
  font-size: 1.1rem;
  font-weight: 300;
  color: #434343;
  text-align: center;
  margin: 1rem 0.6rem 0px;
}
.insightsComp5

/* insights comp 6 */
.insightsComp6Container {
  background-color: #e9ebf2;
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* all medi a queries */
@media screen and (max-width: 768px) {
  /* insights comp 1 */
  .insightsComp11 {
    margin: 1rem 0px;
  }
  .insightsComp12 {
    margin: 0px;
    font-size: 2rem;
  }
  .insightsComp13 {
    margin-top: 0px;
    line-height: 1.9em;
    font-size: 1rem;
  }
  .insightsComp14 {
    margin-top: 0px;
    line-height: 1.5em;
    font-size: 1rem;
  }
  .insightsComp15 {
    height: 400px;
  }
  /* insights comp 2 */
  .insightsComp2whatmakeText {
    font-size: 2rem;
  }
  .insightsComp2CardContainer {
    margin-top: 0px;
  }
  .insightsComp2CardTitle {
    font-size: 0.8rem;
  }
  .insightsComp2CardDescription {
    font-size: 0.6rem;
    margin-bottom: 0px;
  }
  /* insights comp 3 */
  .insightsComp3Container {
    padding: 1rem;
  }
  .insightsComp3Text1 {
    font-size: 2rem;
  }
  .insightsComp3Text2 {
    font-size: 1rem;
  }
  /* insights comp 4 */
  .insightsComp4Container {
    padding: 1rem;
  }
  .insightsComp4Text {
    font-size: 2rem;
  }
  .insightsComp4CardContainer {
    margin: 0px;
  }
  /* insights comp 5 */
  .insightsComp5Container {
    padding: 1rem 0px;
  }
  .insightsComp5Text1 {
    font-size: 3rem;
  }
  .insightsComp5Text2 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .insightsComp5CardContainer {
    margin: 1rem 0px;
  }
  .insightsComp5CardTitle {
    font-size: 0.7rem;
  }
  /* insights comp 6 */
  .insightsComp6Container {
    padding: 1rem 0px;
  }
}
