.MaincardContainer {
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.topcontainer {
  padding: 4%;
  padding-left: 8%;
  padding-top: 6%;
}
.AboutUsContainer {
  border-left: 7px solid #fa6400;
  height: 100%;
}

.AboutUsContaint {
  margin: 0;
  padding-left: 1%;
  font-size: 95px;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: -2px;
}
.AboutContent {
  margin: 0;
  font-family: "Noto Sans";
  font-size: 17px;
  margin-top: 3%;
}

.secondContainer {
  margin-top: 2%;
  text-align: center;
  font-family: "Plus Jakarta Sans";
}
.secondVision {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  display: flex;
  justify-content: center;
}

.ptag {
  margin: 0;
  font-size: 20px;
  font-family: "Noto Sans";
  /* line-height: 40px; */
  letter-spacing: 2px;
}
.htag {
  margin: 0;
  font-size: 92px;
  position: relative;
  width: fit-content;
  font-weight: 500;
}

.htag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
  height: 3px;
  background-color: #fa6400;
  border-radius: 10px;
}

.cardContainer {
  background-color: #e9eaf3;
  border-radius: 120px;
  padding: 4%;
  margin-top: 3%;
  margin-bottom: 4%;
}

@media (max-width: 600px) {
  .AboutUsContaint {
    font-size: 50px;
  }
  .AboutUsContainer {
    border-left: 4px solid #fa6400;
    height: auto;
    margin-top: 20%;
  }
  .htag {
    font-size: 60px;
  }
  .ptag {
    font-size: 17px;
    letter-spacing: 1px;
  }
  .cardContainer {
    border-radius: 30px;
  }
}
