/* part 1 */
.wwdServicesGlobal1MainContainerImage {
  position: relative;
  overflow: hidden;
  animation: moveBackground 5s ease-in-out 1;
}
.wwdServicesGlobal1MainContainerVideo {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  overflow: hidden;
}
.wwdServicesGlobal1ContainerVideo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  /* Keep it in the background */
}

.wwdServicesGlobal1ContainerImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.wwdServicesGlobal1Video {
  height: 100vh;
  padding: 6rem 2rem;
  z-index: 1;
  position: relative;
}

.wwdServicesGlobal1Image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-image: url("/images/whatwedo/AI_bg.svg"); */
  background-repeat: no-repeat; /* No repeat for a single image */
  background-size: cover; /* Start with a bigger size */
  animation: moveBackground 4s ease-in-out 1; /* Animation runs once */
  padding: 6rem 2rem;
}

.wwdServicesGlobal2,
.wwdServicesGlobal3 
.wwdServicesGlobal4 {
  color: white;
  /* Ensure content is readable against the background */
  /* padding: 20px; */
  font-size: 1.5rem;
  z-index: 1;
}
.wwdServicesGloball3{
  color: white !important;
  font-family:"Montserrat";
  font-size: 20px !important;
  width: 30rem;
  line-height: 30px !important;
}

.arrowContainer {
  display: inline-block;
  margin-left: 10px;
}
/* animate bg */
@keyframes moveBackground {
  0% {
    width: 110%; /* Start bigger */
  }
  100% {
    width: 100%; /* End at normal size */
  }
}
.wwdServicesGlobal2 {
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
.wwdServicesGlobal3 {
  font-family: var(--font-montserrat);
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}
.wwdServicesGlobal4 {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  overflow: hidden;
  font-family: var(--font-notosans);
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-top: 4rem;
  cursor: pointer;
  width: 15%;
}
.arrowContainer {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}
.wwdServicesGlobal4:hover .arrowContainer {
  transform: translateX(20px);
}

/* part 2 */
.wwdServicesGlobal5 {
  padding: 4rem 0px;
}
.wwdServicesOrangeline {
  width: 100px;
  height: 3px;
  background-color: #fa6400;
  margin-bottom: 1.5rem;
}
.wwdServicesGlobal6Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wwdServicesGlobal6 {
  font-family: var(--font-notosans);
  font-size: 1.4rem;
  font-weight: 400;
  color: #434343;
  line-height: 2rem;
}
.wwdServicesGlobal7 {
  width: 100%;
  height: auto;
  transition: 1s ease-in-out;
}
.wwdServicesGlobal7:hover {
  transform: scale(1.1);
}

/* part 3 */
.wwdServicesGlobal8 {
  background-color: #000;
  justify-content: center;
  padding: 6rem 2rem;
}
.wwdServicesGlobal9 {
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.wwdServicesGlobal10Card {
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.wwdServicesGlobal10Card:hover {
  transform: scale(1.05);
}
.wwdServicesGlobal10Img {
  width: 80%;
  height: auto;
  align-self: center;
}
.wwdServicesGlobal10Text1 {
  font-family: var(--font-notosans);
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  text-align: left;
  margin-top: 1rem;
}
.wwdServicesGlobal10Text2 {
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.4rem;
  margin-top: 1.5rem;
}

/* part 5 */
.wwdServicesGlobal11Div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 6rem 2rem;
}
.wwdServicesGlobal11Text {
  font-family: var(--font-notosans);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 2rem;
  width: 80%;
  line-height: 2.1rem;
  letter-spacing: 0.06em;
}
.wwdServicesGlobal11Button {
  height: 48px;
  color: #fff !important;
  border: 2px solid #fff !important;
  transition: 0.8s ease-in-out;
}
.wwdServicesGlobal11Button:hover {
  background-color: #fff !important;
  color: #000 !important;
}

@media screen and (max-width: 768px) {
  .wwdServicesGlobal1ContainerImage,
  .wwdServicesGlobal1ContainerVideo,
  .wwdServicesGlobal1Image,
  .wwdServicesGlobal1Video {
    height: 60vh;
  }
  .wwdServicesGlobal2 {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .wwdServicesGlobal3 {
    font-size: 2rem;
  }
  .wwdServicesGlobal4 {
    width: 60%;
  }
  .wwdServicesGlobal5 {
    padding: 0rem 1rem 1rem 1rem;
  }
  .wwdServicesOrangeline {
    margin-bottom: 0.5rem;
    width: 70px;
  }
  .wwdServicesGlobal6Container {
    padding: 2rem 0px;
  }
  .wwdServicesGlobal6 {
    font-size: medium;
  }
  .wwdServicesGlobal10Card {
    min-height: 200px;
    padding: 0.2rem 1rem;
  }
  .wwdServicesGlobal11Div {
    padding: 2rem 0px;
  }
  .wwdServicesGlobal11Text {
    font-size: large;
    margin-bottom: 2rem;
  }
  .wwdServicesGlobal11ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .wwdServicesGlobal1ContainerImage,
  .wwdServicesGlobal1ContainerVideo {
    height: 60vh;
  }
  .wwdServicesGlobal1Image,
  .wwdServicesGlobal1Video {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wwdServicesGlobal2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .wwdServicesGlobal3 {
    font-size: 3rem;
  }
  .wwdServicesGloball3 {
    font-size: 2rem;
  }
  .wwdServicesGlobal4 {
    width: 60%;
  }
  .wwdServicesGlobal5 {
    padding: 0rem 1rem 1rem 1rem;
  }
  .wwdServicesOrangeline {
    margin-bottom: 0.5rem;
    width: 70px;
  }
  .wwdServicesGlobal6Container {
    padding: 2rem 0px;
  }
  .wwdServicesGlobal6 {
    font-size: medium;
  }
  .wwdServicesGlobal10Card {
    min-height: 200px;
    padding: 0.3rem 1rem;
  }
  .wwdServicesGlobal11Text {
    font-size: large;
    margin-bottom: 2rem;
  }
  .wwdServicesGlobal11ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
