.carouselContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  margin-top: 90px;
}


.textContainer {
  width: 20%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.carouselText {
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.slidingImageContainer {
  width: 80%;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .carouselContainer{
    flex-direction: column !important;
  }
  .textContainer{
    width: 100% !important;
  }
  .slidingImageContainer{
    width: 100% !important;
  }
}
.imageFrame {
  padding: 5px;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* Adjust size for smaller screens */
@media only screen and (max-width: 600px) {
  .carouselText {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1100px) {
  .carouselText {
    font-size: 1.5rem;
  }
}

/* Adjust font size for very large screens */
@media only screen and (min-width: 1800px) {
  .carouselText {
    font-size: 2rem;
  }
}