.homeComp3Header {
  font-family: var(--font-notosans);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #0c172b;
  margin-bottom: 0.6rem;
}
.homeComp3Orangeline {
  width: 100px;
  height: 3px;
  background-color: #fa6400;
  margin-bottom: 1rem;
}
.homeComp3SmallText {
  font-family: var(--font-notosans);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #0c172b;
  margin: 1.5rem 1rem 0px 0px;
  letter-spacing: 0.3em;
}

/* homeComp3 */
.homeComp3Container {
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeComp3Text2 {
  font-family: var(--font-notosans);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 43.58px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #4b4a4c;
  margin-top: 1rem;
}
.homeComp3CardContainer {
  margin: 4rem 0px 1rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeComp3Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1% 3% 3% 0%;
  height: 20%;
  position: relative;
  overflow: hidden;
  font-family: var(--font-notosans);
  font-size: 1.6rem;
  font-weight: 400;
  border-bottom: 1px solid #000;
  line-height: 2.5rem;
  /* letter-spacing: 0.03em; */
  white-space: pre-line;
}
.homeComp3CardTitle {
  font-family: var(--font-notosans);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  color: #0c172b;
}

.arrowContainer {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: transform 0.3s ease;
}
.homeComp3Card:hover .arrowContainer {
  transform: translateX(20px);
}

.homeComp3ServicesDiv {
  height: 600px;
  overflow-y: scroll;
  padding: 1rem 0px;
}
.homeComp3ServicesDiv1Container {
  margin: 1.5rem 0px;
  gap: 1rem;
}
.homeComp3ServicesDiv1Img {
  width: 90%;
  height: auto;
  margin: 1rem;
}
.homeComp3ServicesDiv1Texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
}
.homeComp3ServicesDiv1Text1 {
  font-family: var(--font-montserrat);
  color: #0c172b;
  font-size: 2.5rem;
  font-weight: 600;
}
.homeComp3ServicesDiv1Text2 {
  font-family: var(--font-notosans);
  color: #272727;
  font-size: 1.4rem;
  font-weight: 500;
}
.homeComp3ServicesDiv1Text3 {
  font-family: var(--font-notosans);
  color: #4b4a4c;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.8rem;
}

/* all media queries */
@media screen and (max-width: 768px) {
  /* homeComp3 */
  .homeComp3Container {
    padding: 1rem;
  }
  .homeComp3Card {
    white-space: none;
    font-size: 0.8rem;
  }
  .homeComp3Text2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* home comp3 */
  .homeComp3Text2 {
    font-size: 1.2rem;
  }
  .homeComp3Card {
    white-space: none;
    font-size: 1rem;
  }
  .homeComp3ServicesDiv {
    height: 800px;
  }
  .homeComp3ServicesDiv1 {
    display: flex;
    justify-content: center;
  }
  .homeComp3ServicesDiv1Img {
    width: 70%;
  }
  .homeComp3ServicesDiv1Texts {
    padding: 1rem;
  }
}
