.footer {
  margin-top: 3rem;
  /* margin-b: 3rem; */
  padding-top: 5rem;
  border-top: 1px solid #e2e2e2;
}

.footerImg {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footerCopyright {
  margin-bottom: 2rem;
}

.socialMediaIconsContainer {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.iconContainer {
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.customIcon {
  color: #fff;
  font-size: 0.875rem;
}

.backToTopIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 50%;
  padding: 0.2rem;
  font-size: 1.75rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backToTopIcon:hover {
  
}

.footer2 {
  padding: 4rem 4rem 1rem 4rem;
  background-color: #FEFEFF;
  /* Light background color */
  color: #16121e;
  border-top: 1px solid #e2e2e2;
  /* Dark theme color */
}

.companyName {
  font-family: var(--font-montserrat);
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 24px;
}
.footerOrangeLine {
  width: 130px;
  height: 2px;
  background-color: #fa6400;
  margin-bottom: 2rem;
}
.footerOtherOrangeLine {
  width: 60px;
  height: 2px;
  background-color: #fa6400;
  margin-bottom: 2rem;
}

.address {
  /* margin: 0; */
  line-height: 1.7;
  color: #0C172B;
  font-family: var(--font-montserrat);
}

.socialMediaIconsContainer2 {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.iconContainer2 {
  background-color: #16121e;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .customIcon {
  color: #fff;
} */

.quickLinks,
.services {
  font-family: var(--font-montserrat);
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 24px;
}

.links a {
  display: block;
  color: #0C172B;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 0.75rem;
  font-family: var(--font-notosans);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #e2e2e2;
}

.footerImg2 {
  margin-left: 1rem;
}

.copyright {
  color: #000;
  font-size: 14px;
  font-family: var(--font-notosans);
}