.footer {
  margin-top: 3rem;
  /* margin-b: 3rem; */
  border-top: 1px solid #d4d4d4;
  padding-top: 3rem;
}
.footerImg{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footerCopyright{
margin-bottom: 2rem;
}